@use "../../styles/partials/variables";
@use "../../styles/partials/general-mixins";
@use "../../styles/partials/media-queries-mixins";

.header {
  @include general-mixins.positionFixed(0, none);
  @include general-mixins.blurredBackground;
  @include general-mixins.displayFlex(space-between, none);
  @include general-mixins.logoHeader();
  @include media-queries-mixins.mediaHeader();
  z-index: 2;
  width: 100%;
  padding: 1rem;
  .resume-button {
    @include general-mixins.displayFlex(none, center);
    @include general-mixins.resumeButton(2rem);
    @include media-queries-mixins.mediaHeaderResume();
    font-family: variables.$futuristic;
    animation: fadein 1.6s ease-in; 
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.footer {
  @include general-mixins.positionFixed(none, 0);
  @include general-mixins.blurredBackground;
  @include media-queries-mixins.mediaFooter();
  z-index: 2;
  width: 100%;
  .icons-section {
    @include general-mixins.displayFlex(space-evenly, none);
    &--icons {
      padding: 1rem;
      a {
        color: variables.$regular-text;
        svg {
          &:hover {
            fill: variables.$logo;
          }
        }
      }
    }
    &--iconx {
      padding: 1rem;
      a {
        color: variables.$regular-text;
        svg {
          &:hover {
            stroke: variables.$logo;
          }
        }
      }
    }
    &--home {
      animation: translate 0.4s ease-in;
    }
    &--about {
      animation: translate 0.6s ease-in;
    }
    &--projects {
      animation: translate 0.8s ease-in;
    }
    &--contact {
      animation: translate 1s ease-in;
    }
    @keyframes translate {
      0% {
        transform: translateY(5rem);
        opacity: 0;
      }
      50% {
        transform: translateY(3rem);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

// NAVBAR BEHAVIOUR
.visibleH {
  top: 0;
  transition: top 0.4s ease-out;
}

.hiddenH {
  top: -80px;
  transition: top 0.4s ease-out;
}

.visibleF {
  bottom: 0;
  transition: bottom 0.4s ease-out;
}

.hiddenF {
  bottom: -80px;
  transition: bottom 0.4s ease-out;
}
