//COLOURS
$logo: rgb(25, 167, 206);
$logo-hover: rgb(20, 108, 148, 0.2);
$link-hover: rgb(18, 122, 151);
$site-background: rgb(10, 12, 19);
$site-background-transparent: rgb(10, 12, 19, 0.9);
$animation-logo-background: rgb(15, 17, 28);
$highlight-text: rgb(165, 164, 164);
$regular-text: white;

//FONTS
$default: "Montserrat", sans-serif;
$arty: "Delicious Handrawn", cursive;
$futuristic: "Orbitron", sans-serif;

//PADDINGS
$between-sections: 100px 0;

//MARGINS
$top-section: 4rem 0;

//LINE SPACE
$space-between-lines: 1.3;
