@use "../partials/variables";
@use "../partials/general-mixins";
@use "../partials/media-queries-mixins";

.about {
  @include general-mixins.sectionDisplay();
  @include general-mixins.sectionTitle();
  overflow: hidden;

  .about-main {
    @include general-mixins.displayFlex(center, flex-start);
    @include media-queries-mixins.mediaSectionContent();
    margin: variables.$top-section;
    &__image-and-icons {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      @include media-queries-mixins.mediaImageIcons();
      &--image {
        @include general-mixins.imageSize();
        @include media-queries-mixins.mediaPicture();
        opacity: 0.6;
        object-fit: cover;
        filter: grayscale(100%);
        border: solid 2px variables.$logo;
        transition: filter 0.7s ease-out, transform 0.7s ease-out;
        &:hover {
          filter: none;
          transform: scale(1.05);
        }
      }
    }

    &__text {
      color: variables.$highlight-text;
      width: 30rem;
      line-height: variables.$space-between-lines;
      @include media-queries-mixins.mediaText();
      p {
        margin-top: 0;
      }
      &--highlight {
        color: variables.$logo;
      }
    }
  }
}
