@use "../partials/variables";
@use "../partials/general-mixins";
@use "../partials/media-queries-mixins";

.navigation {
  @include general-mixins.blurredBackground;
  @include general-mixins.positionFixed(0, none);
  @include general-mixins.displayFlex(space-between, center);
  @include general-mixins.logoHeader;
  font-size: 0.9rem;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 2;

  .link-section {
    @include general-mixins.displayFlex(none, center);
    width: 30rem;
    padding-right: 3rem;
    font-family: variables.$futuristic;
    &__options {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 20rem;
      li {
        margin: 0 2rem;
        width: 2rem;
        @include general-mixins.displayFlex(center, none);
        a {
          color: variables.$regular-text;
          &:hover {
            color: variables.$logo;
          }
        }
      }
      &--about {
        animation: translate 0.6s ease-in;
      }
      &--projects {
        animation: translate 0.8s ease-in;
      }
      &--contact {
        animation: translate 1s ease-in;
      }
      @keyframes translate {
        0% {
          transform: translateY(-5rem);
          opacity: 0;
        }
        50% {
          transform: translateY(-3rem);
          opacity: 1;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &__resume {
      @include general-mixins.resumeButton(none);
      animation: fadein 1.6s ease-in;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  @include media-queries-mixins.mediaNav();
}

// NAVBAR BEHAVIOUR
.visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: -80px;
  transition: top 0.4s ease-out;
}
