@use "../partials/variables";
@use "../partials/general-mixins";
@use "../partials/media-queries-mixins";

.projects {
  @include general-mixins.sectionDisplay();
  @include general-mixins.sectionTitle();

  .project-section {
    @include general-mixins.displayFlex(center, none);
    @include media-queries-mixins.mediaAppName();
    margin: variables.$top-section;
    .item {
      line-height: variables.$space-between-lines;
      width: 22rem;
      margin-left: 2rem;
      @include media-queries-mixins.mediaAppItem();
      &__title {
        color: variables.$regular-text;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        white-space: nowrap;
        @include media-queries-mixins.mediaItemTitle();
      }
      &__description {
        color: variables.$highlight-text;
        @include media-queries-mixins.mediaItemDescription();
      }
      &__made-with {
        color: variables.$logo;
        font-family: variables.$futuristic;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include media-queries-mixins.mediaMadeWith();
        li {
          margin-right: 1rem;
          margin-bottom: 0.2rem;
        }
      }
      &__icons {
        ul {
          display: flex;
          list-style: none;
          margin-top: 2rem;
          padding: 0;
          @include media-queries-mixins.mediaItemIcons();
          .github {
            @include general-mixins.iconTag(scale(1.1)); 
          }
          .webpage {
            margin-left: 1rem;
            @include general-mixins.iconWebTag();
          }
        }
      }
    }
    
    .img {
      width: 27rem;
      height: 18rem;
      border: 3px solid black;
      border-bottom: 10px solid black;
      border-radius: 10px;
      box-shadow: 0px 0px 5px variables.$highlight-text;
      opacity: 0.6;
      transition: transform 0.5s;
      &:hover {
        filter: drop-shadow(-16px 16px 20px variables.$logo);
        opacity: 1;
        transform: scale(1.04);
      }
      @include media-queries-mixins.mediaItemImg();
    }
  }
  
  .visit-github-section {
    @include general-mixins.displayFlex(center, center);
    margin-top: 2rem;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    &__header {
      color: variables.$highlight-text;
      &--link {
        color: variables.$logo;
        &:hover {
          color: variables.$link-hover;
        }
      }
    }
    &__github-icon {
      @include general-mixins.iconTag(scale(1.1));
      margin: 1rem;
    }
  }
}
