@use "../../styles/partials/variables";
@use "../../styles/partials/general-mixins";
@use "../../styles/partials/media-queries-mixins";

.animation-section {
  @include media-queries-mixins.mediaAnimationSection(100%);  
  position: relative;
  display: flex;
  overflow: hidden;
  width: 60rem;
  margin: auto;
  &:hover {
    .skills-section {
      animation-play-state: paused;
    }
  }
  &::before,
  &::after {
    @include media-queries-mixins.mediaAnimationSection(20vw); 
    content: "";
    position: absolute;
    top: 0;
    width: 20rem;
    height: 100%;
    z-index: 1;
  }
  &::before {
    left: 0;
    background: linear-gradient(
      to right,
      variables.$site-background,
      transparent
    );
  }
  &::after {
    right: 0;
    background: linear-gradient(
      to left,
      variables.$site-background,
      transparent
    );
  }
}

.skills-section {
  @include general-mixins.displayFlex(space-evenly, center);
  @include media-queries-mixins.mediaAnimationSpeed(); 
  position: relative;
  margin-top: 1rem;
  font-family: variables.$futuristic;
  color: variables.$highlight-text;
  animation: 40s moviment infinite linear;
  @keyframes moviment {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-100%);
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    &--icons {
      width: auto;
      height: 3.8rem;
    }
    &--next {
      margin: 0.3rem 0;
      width: auto;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid white;
      background-color: white;
    }
    &--express {
      margin: 0.4rem 0;
      width: auto;
      height: 3rem;
    }
    &--title {
      font-size: 0.9rem;
    }
  }
}
