@use "../../styles/partials/variables";
@use "../../styles/partials/general-mixins";
@use "../../styles/partials/media-queries-mixins";

.contact {
  @include general-mixins.sectionDisplay();
  @include general-mixins.sectionTitle();

  .contact-main {
    @include general-mixins.displayFlex(none, center);
    flex-direction: column;
    margin: variables.$top-section;
    margin-bottom: 0;
    &__title {
      font-size: 1.5rem;
      color: variables.$regular-text;
    }
    &__para {
      width: 26rem;
      text-align: center;
      color: variables.$highlight-text;
      line-height: variables.$space-between-lines;
      @include media-queries-mixins.mediaTextSection();
      &--highlight {
        color: variables.$logo;
      }
      &--link {
        color: variables.$logo;
        &:hover {
          color: variables.$link-hover;
        }
      }
    }
    &__email-link {
      font-family: variables.$futuristic;
      @include general-mixins.sendEmailButton();
    }
  }

  .built-with-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5rem;
    color: variables.$regular-text;
    font-size: .9rem;

    &__img {
      width: 1rem;
      height: 1rem;
      margin: .5rem;
      border: 1px solid white;
      border-radius: 50%;
      background-color: variables.$regular-text;
    }

    &__line {
      &--link {
        color: variables.$logo;
      }
    }
  }
}
