@use "../../partials/variables";
@use "../../partials/general-mixins";
@use "../../partials/media-queries-mixins";

.skills-section {
  @include general-mixins.displayFlex(space-evenly, center);
  flex-wrap: wrap;
  margin-top: 1rem;
  font-family: variables.$arty;
  color: variables.$highlight-text;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;
    height: 5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 3px 9px white;
    // animation: updown 1s infinite  alternate;
    // animation-delay: 1s;
    // @keyframes updown {
    //     0% { transform: translateY(0); }
    //     100% { transform: translateY(-10px); }
    // }
    &--icons {
      width: auto;
      height: 3.8rem;
    }
    &--express {
      margin: 0.2rem 0;
      width: auto;
      height: 3rem;     
    }
    &--title {
      font-size: 1.4rem;
      @include media-queries-mixins.mediaIconTitle();
    }
  }
}
