@use "../../partials/variables";
@use "../../partials/general-mixins";
@use "../../partials/media-queries-mixins";

.animation-section {
  display: flex;
  &:hover {
    .skills-section {
      animation-play-state: paused;
    }
  }
}

.skills-section {
  @include general-mixins.displayFlex(space-evenly, center);
  margin-top: 1rem;
  font-family: variables.$futuristic;
  color: variables.$highlight-text;
  animation: 40s moviment infinite linear;
  @keyframes moviment {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-100%);
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    &--icons {
      width: auto;
      height: 3.8rem;
    }
    &--next {
      margin: 0.3rem 0;
      width: auto;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid white;
      background-color: white;
    }
    &--express {
      margin: 0.4rem 0;
      width: auto;
      height: 3rem;
    }
    &--title {
      font-size: 0.9rem;
      @include media-queries-mixins.mediaIconTitle();
    }
  }
}
