@use "./partials/variables";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 4rem;
  @media (max-width: 472px) {
    padding: 0 2rem;
  }
  background-color: variables.$site-background;
  font-family: variables.$default;
}

a {
  color: inherit;
  text-decoration: none;
}
